/* 토글 메뉴 구성 */
.toggleTab {
  position: absolute;
  top: 16px;
  right: 20px;
}

.drawer_layer ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menus {
  transition: 0.3s ease-in-out;
  padding: 80px 15px 30px;  
}

.menu {
  margin-bottom: 10px;
}

.menu a {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a span {
  font-size: 1.125rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
.menus {
    padding: 60px 5px 40px;
  }

  .menu {
    margin-bottom: 10px;
  }
  .menu a span {
    font-size: 1rem;
  }

  
}
