.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.container {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}
