@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  user-select: auto;
  -webkit-touch-callout: none;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  transition: 0.3s ease-in-out;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: #333;
  background-color: #fff;
}

.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  flex: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  text-decoration: all 0.3s ease-in-out;
}

nav {
  cursor: pointer;
  text-decoration: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  text-decoration: all 0.3s ease-in-out;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
  text-decoration: all 0.3s ease-in-out;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: auto;
  transition: all 0.3s ease-in-out;
}

strong,
svg,
img,
picture {
  transition: all 0.3s ease-in-out;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* input */
input,
textarea {
  -webkit-user-select: auto;
}

input {
  background: transparent;
  border: none;
  outline: none;
  text-decoration: all 0.3s ease-in-out;
  border-radius: 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
select,
textarea {
  background-color: transparent;
  outline: none;
  text-decoration: all 0.3s ease-in-out;
  border-radius: 0;
}

input:focus {
  outline: none;
  border-radius: 0;
  background-color: transparent;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='search']:focus,
select,
textarea {
  outline: none;
  border-radius: 0;
  background-color: transparent;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  --webkit-transition: background-color 9999s ease-out;
  --webkit-box-shadow: 0 0 0px 1000px white inset !important;
  border-radius: 10px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

textarea::placeholder,
input::placeholder {
  color: #ccc;
}

textarea {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: all 0.3s ease-in-out;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
}

/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* 셀렉트 박스 */
select {
  -webkit-appearance: none;
  appearance: none;
  /* background: url('public/icons/accordion-icon.svg') no-repeat 90% 55%; */
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

select::-ms-expand {
  display: none;
}
